*{
    margin: 0;
    padding: 0;
}

.furniture-bg{
    height: 100vh;
    /* background-color: red; */
}

.enter-btn {
    height: 250px;
    width: 250px;
}

.btn-ctnt{
    text-align: center;
    display: inline-grid;
    vertical-align: middle;
}

.home-img{
    height: 200px;
    width: 200px;
    vertical-align: baseline;
}

.card-img-top{
    /* height: 200px; */
}

.area-position{
    position: absolute;
    margin: auto;
    width: 600px;
    left: 0;
    right: 0;
}

.image img{
    cursor: zoom-in;
}

.cz-control{
    display: none;
}


@media only screen and (max-width: 600px) {
    .area-position{
        position: absolute;
        margin: auto;
        width: 300px;
        left: 0;
        right: 0;
        top: 0;
        margin-top: 128px;
    }

    #addText{
        display: none;
    }

    .cz-control{
        position: relative;
        display: block;
        left: 44%;
        /* right: 0;
        bottom: 0; */
    }
  }