{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="landing mt-5">
    <div class="mt-5">
        <div class="container text-center">
            <img src="/static/home/logo.png" alt="" style="width: 50%;">
            <p class="mt-2 fs-4">Furniture Flyers, Promotions, Discount Coupons & Clearances</p>
        </div>
    </div>

    <!-- <div class="">
        <p class="text-center fs-3">Click on the Area to Navigate</p>
        <div class="p-5">
            <div id="area"></div>
            <div class="area-position">
                <div id="container2" style="width: 100%;"></div>
                <div id="addText"></div>           
            </div>
        </div>
        <div class="mt-5 cz-control">
            <a href="/shoplist/5/">Central</a>
        </div>
    </div> -->

    <div class="text-center">
        <!-- <h1 class="text-center fs-3">Click on the Area to Navigate</h1>/ -->
        {% for area in areas %}
        <a href="{% url 'shoplist' area.id %}" class="text-decoration-none text-reset m-5"><h3>{{ area.area }}</h3></a>
        {% endfor %}
    </div>

    <!-- <div class="row text-center" style="position: absolute; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;">
            <img class="text-center" src="/static/home/logo.png" alt="" style="width: 30%;">
    </div> -->
</section>
{% endblock %}

{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            var chart = Highcharts.chart('container2', {
                chart: {
                    renderTo: 'container2',
                    type: 'pie',
                    backgroundColor: 'rgba(0,0,0,0)',
                    height: '600px',
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '',
                },
                xAxis: {
                    type: 'category'
                },
                plotOptions: {
                    series: {
                        innerSize: '50%',
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    // location.href = 'https://en.wikipedia.org/wiki/' +
                                    //     this.options.key;
                                    location.href = this.options.url;
                                }
                            }
                        }
                    }
                },

                series: [{

                    data: [{
                        y: 50,
                        name: 'East Zone',
                        key: 'east',
                        url: "{% url 'shoplist' 1 %}"
                    }, {
                        y: 50,
                        name: 'West Zone',
                        key: 'west',
                        url: "{% url 'shoplist' 2 %}"
                    }, {
                        y: 50,
                        name: 'North Zone',
                        key: 'north',
                        url: "{% url 'shoplist' 3 %}"
                    }, {
                        y: 50,
                        name: 'South Zone',
                        key: 'south',
                        url: "{% url 'shoplist' 4 %}"
                    }]
                }]
            }, function(chart) { // on complete
                var textX = chart.plotLeft + (chart.plotWidth  * 0.5);
                var textY = chart.plotTop  + (chart.plotHeight * 0.5);

                var span = '<span id="pieChartInfoText" style="position:absolute; text-align:center;">';
                span += '<span style="font-size: 32px"><a style="text-decoration: none" href="/shoplist/5/">Central</a></span><br>';
                span += '<span style="font-size: 20px">Zone</span>';
                span += '</span>';

                $("#addText").append(span);
                span = $('#pieChartInfoText');
                span.css('left', textX + (span.width() * -0.5));
                span.css('top', textY + (span.height() * -0.5));
            });
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 600
                    },
                    chartOptions: {
                        legend: {
                            align: 'center',
                            verticalAlign: 'bottom',
                            layout: 'horizontal'
                        },
                        yAxis: {
                            labels: {
                                align: 'left',
                                x: 0,
                                y: -5
                            },
                            title: {
                                text: null
                            }
                        },
                        subtitle: {
                            text: null
                        },
                        credits: {
                            enabled: false
                        }
                    }
                }]
            }
        });
    </script>
{% endblock %}