{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.4/viewer.min.css" integrity="sha512-OgbWuZ8OyVQxlWHea0T9Bdy1oDhs380WxLMaLZbuitQ/mdntHBPnApxbTebB9N5KoHZd3VMkk3G2cTY563nu5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
<section class="landing m-5">
    <div class="container">
        <div class="">
            <div class="row mb-3">
                <div class="col-6 text-start">
                    <a href="/"><img src="/static/home/logo.png" alt="" style="width: 25%;"></a>
                </div>
                <div class="col-6 text-end">
                    <a href="/" class="btn btn-sm btn-secondary">Back to Home</a>
                </div>
            </div>
        </div>
        <h1 class="text-center">Furniture Detail</h1>

        <div class="m-5">
            <div class="row">

                <div class="col-md-7 mb-1">
                    <div class="card rounded-0" id="image">
                        <img src="/media/{{ item.image }}" class="card-img-top" alt="...">
                    </div>
                    <p>Click On the Image to See in large</p>
                </div>

                <div class="col-md-5 mb-1">
                    <div class="card rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">Refernce: {{ item.reference }}</h5>
                            <p class="card-text">Offers : {{ item.offer }}</p>
                            <p class="card-text">{{ item.description }}</p>
                            <hr>
                            <h5 class="card-title">Store Info</h5>
                            <p class="card-text">Store Name:  {{ item.shop.name }}</p>
                            <p class="card-text">Phone:  {{ item.shop.phone }}</p>
                            <p class="card-text">Email:  {{ item.shop.email }}</p>
                            <p class="card-text">Contact Persons:  </p>
                            <ul>
                                {% for person in persons %}
                                <li>{{ person.name }}</li>
                                {% endfor %}

                            </ul>
                            <p class="card-text">Store Address:  {{ item.shop.addr }}</p>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'print' item.id %}" class="card-link">Print</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.4/viewer.min.js" integrity="sha512-2HLzgJH7ZNywnEDB1HqijieFxszStt3QXS8Qk9m/VMUV/asMWlz9PmibHsvWIz9rtKOOr28z8zu1iJ3pf/TTHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
const gallery = new Viewer(document.getElementById('image'));
</script>
{% endblock %}
