{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="landing m-5">
    <div class="container">
        <div class="text-center">
            <div class="row mb-3">
                <div class="col-6 text-start">
                    <a href="/" class="text-decoration-none">FurnitureFM.com</a>
                </div>
                <div class="col-6 text-end">
                    <a href="/" class="btn btn-sm btn-secondary">Back to Home</a>
                </div>
            </div>
            
            <a href="/"><img src="/static/home/logo.png" alt="" style="width: 40%;"></a>
            <h2 class="text-center">Suggested Furniture Stores in {{ filter_key }}</h2>
        </div>
        

        <div class="m-5">
            <div class="row">
                {% for shop in shops %}
                <div class="col-md-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            
                            <div class="row">
                                <div class="col-md-8 col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h6 class="card-text mb-2">Phone Number: <br> 
                                            <strong> {{ shop.shop.phone }} </strong> </h6>
                                            {% comment %} <p class="card-text">{{ shop.shop.addr }}</p>   {% endcomment %}
                                            <h6 class="card-text mb-2">Contact Persons: </h6>
                                            <ul>
                                                {% for person in shop.persons %}
                                                <li>{{ person.name }}</li>
                                                {% endfor %}
                                            </ul>                                          
                                        </div>
                                        {% comment %} <div class="col-sm-4 d-none d-sm-none d-md-block">
                                            <h6 class="card-subtitle mb-2 text-muted">Contact Persons: </h6>
                                            <ul>
                                                {% for person in shop.persons %}
                                                <li>{{ person.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div> {% endcomment %}
                                        <div class="col-sm-7 d-none d-sm-none d-md-block">
                                            <h6 class="card-text"> <strong> Email</strong>: {{ shop.shop.email }}</h6>
                                            <h6 class="card-text"><strong>Delivery</strong> : {{ shop.shop.delivary }}</h6>
                                            <h6 class="card-text"><strong>Furniture Setup Service</strong> : {{ shop.shop.service }}</h6>                                            
                                            <h6 class="card-text"><strong>Address</strong> : {{ shop.shop.addr }}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h2 class="card-title">{{ shop.shop.name }}</h2>
                                    <a href="{% url 'furnitures' shop.shop.id %}" class="btn btn-sm btn-primary">See Store Furnitures</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}